{% extends 'partials/base.html.twig' %}

{% block content %}
  <h1>{{ page.title|raw }}</h1>
  <h3><div class="subtitle">{{ page.header.subtitle }}</div></h3>
  
  <div class="text-container">
    <div class="light-gray">
      {{- 'AUTHOR'|t }}{{ 'COLON'|t }}{{ page.taxonomy.author[0]|t -}}
      &nbsp;•&nbsp;
      {{- 'CATEGORY'|t }}{{ 'COLON'|t }}{{ page.taxonomy.category[0]|t|titleize -}}
      &nbsp;•&nbsp;
      {{- 'PUBLISHED'|t }}{{ 'COLON'|t }}{{ page.header.publish_date|date(('DATE_FORMAT'|t)) -}}
    </div>
    
    {{ page.content|raw }}
  </div>
{% endblock %}
